In [1]:
import pandas as pd
from IPython.display import display
# pd.set_option('display.max_rows', None)

In [2]:
df_followers = pd.read_csv('followers.csv')
df_following= pd.read_csv('following.csv')
# display(df_followers, df_following)
df = pd.concat([df_followers, df_following], axis=1)
df

                      followers                following
0                fatimayildiran            alihan98ersoy
1                    oktenali62                 selint12
2                  itsjust.gege              izbeysisman
3    young_stars_sports_academy               meertersoy
4         _philosophical_quotes             berkayozkirr
..                          ...                      ...
201                         NaN  premierleague\nVerified
202                         NaN           nasa\nVerified
203                         NaN         natgeo\nVerified
204                         NaN           fatimayildiran
205                         NaN    mauroicardi\nVerified

[206 rows x 2 columns]

In [3]:
df['following'].isin(df['followers']).value_counts()

True     162
False     44
Name: following, dtype: int64

# Users not following you back

In [4]:
def highlight_cols(x):
    colored_df_nfb = []
    for i in x:
        if i in set(df['followers']):
            colored_df_nfb.append('background: green')
        else:
            colored_df_nfb.append('background: red')
    return colored_df_nfb

# apply highlighting logic to first column only
colored_df_nfb = df.style.apply(highlight_cols, subset=pd.IndexSlice[:, ['following']])
colored_df_nfb

# Users you are not following back

In [5]:
def highlight_cols(x):
    colored_df_ynfb = []
    for i in x:
        if i in set(df['following']):
            colored_df_ynfb.append('background: green')
        else:
            colored_df_ynfb.append('background: red')
    return colored_df_ynfb

# apply highlighting logic to first column only
colored_df_ynfb = df.style.apply(highlight_cols, subset=pd.IndexSlice[:, ['followers']])
colored_df_ynfb